POSTGRES_DB=your_postgres_database
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_HOST=your_postgres_host
POSTGRES_PORT=your_postgres_port
POSTGRES_HOST_LOCAL=your_local_postgres_host
POSTGRES_PORT_LOCAL=your_local_postgres_port

MONGO_DATABASE=your_mongo_database
MONGO_USERNAME=your_mongo_user
MONGO_PASSWORD=your_mongo_password
MONGO_AUTH_SOURCE=your_mongo_auth_source
MONGO_HOST=your_mongo_host
MONGO_PORT=your_mongo_port
MONGO_HOST_LOCAL=your_local_mongo_host
MONGO_PORT_LOCAL=your_local_mongo_port

SERVER_PORT_JAVA=your_java_server_port
SERVER_PORT_PYTHON=your_python_server_port
CORS_ORIGINS=http://your-frontend-origin

PGADMIN_DEFAULT_EMAIL=your_pgadmin_email
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password
ME_CONFIG_BASICAUTH_USERNAME=your_mongo_express_user
ME_CONFIG_BASICAUTH_PASSWORD=your_mongo_express_password
